.bucket {
    .bucket_name {
        margin: 60px 0 50px 240px;
        white-space: nowrap;

        h1 {
            line-height: 10px;
        }

        h1:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 1000%;
            height: 2px;
            background: $main-dark;
            border-width: 0 10px;
            margin-left: calc(-1000% - 20px);
            margin-right: 20px;
        }
    }
}

.bucket-table {
    .table_header-name:nth-child(1) {

        padding-right: 222px;
    }
}

.totalAmount {
    @include flex-align(flex-end);
    width: 1120px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;

    * {
        padding: 5px;
    }

    h2 {
        text-transform: uppercase;
    }

    p {
        position: relative;
        font-family: $gotham;
        font-size: 28px;
        color: $accent-1;
        margin-bottom: 8px;

        .bitcoin {
            width: 22px;
            padding: 0;
            left: 100%;

            .cls-1 {
                fill: $accent-1;
            }
        }
    }

    button {
        text-align: center;
        margin: 0 0 0 30px;
    }

    margin-bottom: 40px;

    .totalAmount-price {
        margin: 0 0 0 120px;
    }


}
.totalAmount-noprice {
    width: 100% !important;
    *{
        margin: auto !important;
    }
}
@include media('t-only') {
    .totalAmount {
        width: 100%;
        padding: 0 80px;
        justify-content: space-between;

        h2 {
            margin: auto;
        }

        button {
            margin: auto;
        }

        margin-bottom: 40px;

        .totalAmount-price {
            margin: auto;
        }
    }
}

@include media('m-only') {
    .bucket {
        .bucket_name {
            margin: 60px 0 30px 20%;
        }
    }
    .totalAmount {
        width: 100%;
        padding: 0 20px;
        margin: auto;

        .totalAmount-price {
            margin-right: 30px;
        }

        * {
            padding: 5px 15px;
            margin: auto !important;
        }
    }
    .bucket-table {
        thead {
            display: none;
        }

        .table_main-text {
            height: 40px;
        }

        .close_icon {
            width: 23px;
            height: 23px;
        }
    }
}
