.editAdd {
    .editAdd_name {
        min-width: 900px;
        margin: 60px calc(50% + 50px) 30px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }
    .editAdd_wrapper {
        width:       1280px;
        margin:      auto;
        @include flex-align(center);
        flex-wrap:   wrap;
        align-items: normal;
    }
    .editAdd_left {
        width:      540px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        margin:     0 20px 100px 20px;
        padding:    40px;
        .editAdd_left-name {
            width:     100%;
            height:    40px;
            margin:    15px 0 26px 0;
            color:     $main-dark;
            font-size: 12px;
        }
        .editAdd_left-message {
            width:       100%;
            height:      400px;
            margin:      15px 0 26px 0;
            padding:     20px;
            background:  $gray-1;
            font-family: $gotham;
            color:       $main-dark;
            font-size:   12px;
            line-height: 22px;
            resize:      none;
            outline:     none;
            border:      none;
        }
        .editAdd_left-ph {
            width: 100%;

        }
        .editAdd_left-photo {
            width:     100%;
            @include flex-align(space-between);
            flex-wrap: wrap;
        }

        .editAdd_left-file {
            position:   relative;
            height:     100px;
            width:      100px;
            margin:     10px 0;
            background: $gray-1;
            @include flex-align(center);
            text-align: center;
        }
        .editAdd_left-img {
            position:   absolute;
            width:      100%;
            height:     100%;
            background: $gray-1;
            z-index:    1;
        }
        .editAdd_left-mainphoto {
            z-index: 2;
        }
        .Add_left-checkphoto {
            background-size:     contain;
            background-repeat:   no-repeat;
            background-position: center;
            opacity:             0.2;
        }
        .editAdd_left-fileb {
            top:      0;
            position: absolute;
            width:    100px;
            height:   100px;
            opacity:  0;
            z-index:  1000;
        }
    }
    .editAdd_right {
        margin: 0 20px;
    }
    .editAdd_specifications {
        width:      540px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        margin:     0 0 40px 0;
        padding:    20px 40px 40px 40px;
        @include flex-align(space-between);
        flex-wrap:  wrap;

        h4 {
            margin-top: 16px;
        }
        .editAdd_specifications-blselect {
            position:   relative;
            width:      160px;
            margin-top: 15px;
        }
        .editAdd_specifications-bg {
            position:         absolute;
            left:             0;
            width:            100%;
            height:           100%;
            background-color: $gray-1;
            z-index:          0;
        }
        .editAdd_specifications-block {
            position:         absolute;
            right:            0;
            height:           40px;
            width:            40px;
            background-color: $gray-1;
            z-index:          1;
            .bitcoin {
                height: 14px;
                .cls-1 {
                    fill: $main-dark;
                }
            }
        }
        .editAdd_specifications-select {
            padding-right:      25px;
            width:              100%;
            height:             40px;
            outline:            none;
            padding-left:       19px;
            font-size:          12px;
            background:         none;
            z-index:            2;
            position:           relative;
            border:             none;
            -webkit-appearance: none;
        }
        .editAdd_specifications-select:after {
            content: "";
        }

        .down_arrow {
            width:       12px;
            height:      6px;

            position:    absolute;
            top:         50%;
            left:        50%;
            transform:   translate(-50%, -50%);
            line-height: 7px;
        }

        .editAdd_specifications-price {
            width: 110px;
        }
        .editAdd_specifications-2 {
            width: 220px;
        }
        .editAdd_specifications-3 {
            width: 140px;
        }
    }
    .facilities {
        margin: 0;
    }
    .editAdd_right-button {
        height: 50px;
        margin: 35px 0 80px 0;
        float:  right;
    }
}

@include media ('t-only') {
    .editAdd {
        .editAdd_name{
            min-width:450px;
            max-width:450px;
            h1{
                white-space: normal;
            }
        }
        .editAdd_wrapper {
            width: auto;
        }
    }
}

@include media ('m-only') {
    .editAdd {
        .editAdd_wrapper {
            width: auto;
        }
        .editAdd_name {
            display: block !important;
            max-width: 260px;
            margin: 50px auto 10px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
            h1{
                white-space: normal;
            }
        }
        .editAdd_left {
            width:      100%;
            margin:     0;
            box-shadow: none;
            .editAdd_left-ph {
                overflow-x: scroll;
            }
            .editAdd_left-photo {
                width: 940px;
            }
        }

        .editAdd_right {
            margin:  0;
            padding: 20px;
        }
        .editAdd_specification {
            width: 100%;
        }
        .editAdd_specifications {
            width:      100%;
            padding:    0;
            box-shadow: none;
            .editAdd_specifications-blselect, .editAdd_specifications-select {
                width: 100%;
            }
            .editAdd_specifications-3, .editAdd_specification-3 {
                width: 130px;
            }
        }
        .facilities {
            width:        100%;
            padding:      20px;
            box-shadow:   none;
            margin-right: 21px;
        }
        .editAdd_right-button {
            width:      100%;
            margin:     35px 0 60px 0;
            text-align: center;
        }
    }
}
