.validate {
    height: 40px;
    background: #fd423a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px 0 0;
    max-width: 540px;
    padding: 20px;
}

.pages {
    min-height: calc(100vh - 195px)
}

@include media('m-only') {
    .pages {
        min-height: calc(100vh - 360px);
    }
    .validate {
        height: 46px;
    }
}

.bheader {
    display: flex;
    padding-top: 121px;
    width: 100%;
    height: 400px;

    background: url(/../images/bheader.png) no-repeat center;
    background-size: cover;

    .bheader_block {
        display: inline-block;
        width: 100%;

        text-align: center;

        color: $main-white;

        h1 {
            font-size: 36px;
        }

        button {
            font-size: 14px;
            margin-top: 8px;
        }
    }
}

@include media('m-only') {
    .bheader {
        margin-top: 77.67px;
        height: 340px;
        padding-top: 100px;
    }
}

.property_name {
    min-width: 900px;
    margin: 64px calc(50% + 50px) 26px calc(50% + 50px);
    transform: translateX(-50%);
    white-space: nowrap;

    h1 {
        line-height: 30px;
        position: relative;
    }

    h1:before {
        position: absolute;
        top: 13px;
        content: "";
        width: 1000px;
        margin-left: -1020px;
        height: 2px;
        background: #000;
        display: block;
    }
}

.property_name1 {
    display: none;
}

.property_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 calc(50% + 50px);
    transform: translateX(-50%);


    .property_blocks-styles {
        display: flex;
        flex-wrap: wrap;
    }

    .property_text {
        max-width: 320px;
        margin: 20px 20px 0 0;
    }

    .property_paragraph {
        float: right;
        font-size: 11px;

        margin-bottom: 20px;
    }

    .property_paragraph:nth-child(2) {
        margin-bottom: 10px;
    }


    .property_block-styles {
        width: 170px;
        height: 156px;
        margin: 20px 0;
        padding: 5px;

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        .property_block-img {
            width: 100%;
            height: 100%;
            padding: 48px 0;

            background: url("/images/property-style.png");
        }

        a {
            display: block;
            background: rgba(255, 255, 255, 0.8);
            padding: 8px 0;

            font-size: 14px;
            color: $main-dark;

            text-align: center;

            cursor: pointer;
        }
    }

    .property_block-styles2 {
        height: 332px;
        margin: 20px;

        .property_block-img {
            background: url("/images/property-style2.png");
            padding: 136px 0;
        }
    }
}

@include media('t-only') {
    .property_content {
        width: 100%;
        margin: 0 auto;
        transform: none;

        .property_paragraph {
            float: none;
        }

        .property_block-styles {
            margin: 20px 10px;
        }
    }

    .property_name {
        min-width: 386px;
        max-width: 386px;

        margin: 64px auto 26px auto;
        transform: none;
    }
}

@include media('m-only') {
    .property_name1 {
        display: block !important;
        max-width: 260px;
        margin: 40px auto 30px auto;
        padding: 0 40px 0 10px;
        white-space: nowrap;
        transform: none;
        min-width: 260px;

        h1:before {
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }
    .property_content {
        width: 300px;
        margin: auto;
        transform: none;

        .property_blocks:nth-child(2n) {
            display: flex;
            justify-content: center;

            .property_block:nth-child(3n) {
                display: flex;
                justify-content: center;
            }
        }

        .property_text {
            min-width: 260px;
            margin: 0 20px 0 40px;
        }

        .property_block-styles {
            margin: 20px 10px;
            width: 130px;
            height: 130px;

            .property_block-img {
                padding: 35px 0;
            }
            a{
                font-size: 12px;
                padding: 9px 0;
            }
        }

        .property_block-styles2 {
            height: 280px;

            .property_block-img {
                padding: 111px 0;
            }
        }

        .property_block-styles3 {
            margin: 0 10px;
        }
    }
    .property_name {
        display: none;
    }

}

.recommend {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .recommend_name {
        display: block !important;
        max-width: 1280px;
        margin: 51px auto 0 auto;
        white-space: nowrap;

        h1 {
            margin-left: 760px;
            line-height: 30px;
            position: relative;
        }

        h1:after {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: 250px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .recommend_slide-wrap {
        max-width: 1280px;
        display: inline-flex;
    }

    .recommend_slide-img {
        width: 720px;
        height: 360px;
        background: url("/images/recommend-slide.png") no-repeat center;
        background-size: cover;

    }

    .recommend-slider {
        width: 100%;
        display: table;
        position: relative;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .recommend_slidewrapper {
        position: relative;
        width: 1000%;
        top: 0;
        left: 0;
        margin: 33px 0;
        padding: 0;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;

        .recommend_slide {
            display: flex;
            width: 10%;
            list-style: none;
            float: left;

            .recommend_slide-wrapper{
                display: inline-flex;
                width: 1280px;
                margin: auto;
            }
        }

        .recommend_slide-title {
            margin: 0 0 5px;
        }

        .recommend_slide-data {
            width: 320px;
            margin: 0 40px 37px;
        }

        .recommend_slide-val {
            margin: 16px 20px 0px;
            color: $gray-6;
        }


        .recommend_table {
            padding: 7px 20px;
            line-height: 14px;
            border-bottom: 1px solid $gray-4;
        }

        .recommend_table-val {
            width: 20px;
            float: right;
            text-align: center;
        }

        .card_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0 0;

            .card_price {
                margin-left: 20px;

                font-family: $playfair-bl;
                font-size: 26px;
                color: $accent-1;
                text-align: left;

                p {
                    justify-content: flex-start;
                }

                .bitcoin {
                    width: 17px;

                    .cls-1 {
                        fill: $accent-1;
                    }
                }
            }
        }

        .recommend_slide-list-left, .recommend_slide-list-right {
            #Path_203, #Path_26 {
                display: none;
            }
        }

        .recommend_slide-list-left:hover {
            #Path_203 {
                display: block;
            }
        }

        .recommend_slide-list-right:hover {
            #Path_26 {
                display: block;
            }
        }

        .recommend_slide-lists {
            @include flex-align(space-between);

            .recommend_slide-right, .recommend_slide-left {
                width: 50px;
                margin: 23px 0 0;
            }

            .recommend_slide-pred, .recommend_slide-next {
                margin: 23px 6px 0;
            }

            .recommend_slide-list {
                @include flex-align();
                cursor: pointer;
                color: $main-dark;
            }
        }

        .recommend_slide-img2 {
            display: none;
        }
    }
}

@include media('m-only') {
    .recommend {
        display: none;
    }
}

@include media('t-only') {
    .recommend {
        display: none;
    }
}

.lastadd {
    .lastadd_name {
        max-width: 770px;
        margin: 23px auto 25px;
        white-space: nowrap;
        position: relative;

        h1 {
            line-height: 30px;
        }

        h1:before {
            position: absolute;
            top: 15px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .lastadd_name1 {
        display: none;
    }

    .lastadd_cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: auto !important;
    }

    .card {
        margin: 25px;
    }

    .card:nth-child(3n) {
        margin-right: 0px;
    }

    .card:nth-child(3n-2) {
        margin-left: 0px;
    }
}

@include media('t-only') {
    .lastadd {
        .lastadd_name {
            max-width: 387px;
            margin: 40px auto 30px auto;
            text-align: center;
            white-space: nowrap;

            h1:before {
                content: "";
                width: 1000px;
                margin-left: -1020px;
                height: 2px;
                background: #000;
                display: block;
            }
        }

        .card {
            margin: 25px !important;
        }
    }
}

@include media('m-only') {
    .lastadd {
        margin-bottom: 60px;

        .lastadd_name {
            display: none;
        }

        .lastadd_name1 {
            display: block !important;
            max-width: 260px;
            margin: 64px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;

            h1:before {
                content: "";
                width: 1000px;
                margin-left: -1020px;
                height: 2px;
                background: #000;
                display: block;
            }
        }

        .card {
            margin: 0 0 20px 0;
        }
    }
}
