.landlord {
    .landlord_name {
        min-width: 900px;
        margin: 50px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .landlord_characteristics {
        max-width: 424px;
        margin:    0 auto 50px auto;
        @include flex-align(space-evenly);
    }
    .landlord_characteristic-icon {
        width:         50px;
        height:        50px;
        padding:       4px;
        border-radius: 50%;
        box-shadow:    0 3px 6px rgba(0, 0, 0, 0.16);
        margin:        auto;
    }
    .landlord_characteristic-iconinner {
        width:         100%;
        height:        100%;
        border-radius: 50%;
        background:    #fff;
        box-shadow:    0 3px 6px rgba(0, 0, 0, 0.16);
        font-family:   "Playfair Display";
        font-size:     20px;
        @include flex-align(center);
    }
    .landlord_characteristic-home {
        width:  21px;
        height: 19px;
    }
    .landlord_characteristic-text {
        text-align: center;
    }
    .landlord_territory {
        height:           40px;
        width:            100%;
        padding:          9px 0 13px 0;
        background-color: $gray-10;
    }
    .landlord_territory-1 {
        width: 900px;
        @include flex-align(space-between);
        margin: 0 calc(50% + 50px) 0 calc(50% + 50px);
        transform: translateX(-50%);
    }

    @include media('t-only') {
        .landlord_name {
            min-width:450px;
            max-width:450px;
            white-space: normal;
        }
        .landlord_characteristics {
            margin:    50px auto;
            width:     100%;
            flex-wrap: wrap;
        }
        .landlord_characteristic {
            width:  33%;
            margin: 15px 0;
        }
        .landlord_territory {
            padding: 10px 80px;
        }
    }
    @include media('m-only') {
        .landlord_name {
            display: block !important;
            max-width: 260px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
        }
        .landlord_characteristics {
            margin:    50px 0;
            width:     100%;
            flex-wrap: wrap;
        }
        .landlord_characteristic {
            width:  50%;
            margin: 15px 0;
        }
        .landlord_territory {
            height:     auto;
            padding:    40px;
            flex-wrap:  wrap;
            text-align: center;
            * {
                width: 100%;
            }
        }
    }
}

.landlord_characteristics {
    //
    //display: none !important;
    //
}

.landlordn {
    //
    //display: none;
    //
    .landlordn_name {
        min-width: 900px;
        margin: 50px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }
    .landlordn_cards {
        display:         flex;
        justify-content: center;
        flex-wrap:       wrap;

        max-width:       1180px;
        margin:          auto;
    }
    .card {
        margin: 25px;
    }

    .pagination {
        justify-content: center;
        margin-bottom:   100px;
    }
}

@include media('t-only') {
    .landlordn {
        .landlordn_name {
            min-width:450px;
            max-width:450px;
        }
    }
}

@include media('m-only') {
    .landlordn {
        .landlordn_name {
            display: block !important;
            max-width: 260px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
        }
    }
}

.landlordf {
    text-align: center;
    margin-top: 60px;
}
