.myOrders {
    .myOrders_name {
        min-width: 900px;
        margin: 50px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .down_arrow {
        width: 12px;
        margin-left: 5px;
    }

    .table {
        tbody{
            display: none;
        }
        .table_header {
            cursor: pointer;

            .table_header-name {
                width: 25%;
            }

            .table_header-name:nth-child(3) {
                text-decoration: underline;
            }

            .table_header-name:nth-child(4) {
                text-decoration: underline;
                justify-content: flex-end;
                display: flex;
                align-items: center;
                width: 100%;
                padding-right: 40px;
            }
        }

        .table_main-click {
            display: table-footer-group;
        }

        .table_header-name {
            border: 0;
        }

        .table_main-text {
            border: 0;
        }

        .table_main-text:nth-child(4) {
            text-align: right;
            padding-right: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        td {
            white-space: nowrap;
        }

    }
}

@include media('t-only') {
    .myOrders {
        .myOrders_name{
            min-width:450px;
            max-width:450px;
            h1{
                white-space: normal;
            }
        }
        tbody {
            .table_main-text {
                white-space: normal;
            }
        }
    }
}

@include media('m-only') {
    .myOrders {
        .myOrders_name {
            display: block !important;
            max-width: 260px;
            margin: 50px auto 50px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
            h1{
                white-space: normal;
            }
        }

        .table_header {
            display: inline-block;
            width: 100%;

            .table_header-name {
                height: 45px;
                float: left;

                display: flex;
                align-items: center;
            }

            .table_header-name:nth-child(1) {
                width: 50% !important;
                padding-left: 20px;
                justify-content: flex-start;
            }

            .table_header-name:nth-child(2) {
                width: 50% !important;
                padding-right: 20px;
                justify-content: flex-end;

            }

            .table_header-name:nth-child(3) {
                width: 60% !important;
                padding-left: 20px;
                justify-content: flex-start;
            }

            .table_header-name:nth-child(4) {
                width: 40% !important;
                padding-right: 20px;
                justify-content: flex-end;
            }

            .table_header-name:nth-child(4) {
                :nth-child(1) {
                    display: none;
                }

                .down_arrow {
                    width: 20px;

                    .cls-1 {
                        stroke-width: 1px;
                    }
                }
            }
        }

        tbody {
            .table_main-text:nth-child(2), td:nth-child(3) {
                display: none;
            }

            .table_main-text:nth-child(4) {
                display: block;
                padding-left: 42px;
                margin-bottom: 22px;
                text-align: left !important;
                justify-content: flex-start !important;


            }

            .table_main-text {
                white-space: normal;
            }
        }
    }
}
