.mySuggestions {
    .mySuggestions_name {
        min-width: 900px;
        margin: 50px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }
    .mySuggestions_cards {
        display:         flex;
        justify-content: center;
        flex-wrap:       wrap;

        max-width:       1180px;
        margin:          auto;
    }
    .card {
        margin: 25px;
    }
    .card_img-hover {
        display: none;
    }
    .card_img {
        img {
            height: 180px;
        }
    }
    .card:hover {
        position: relative;
        .mySuggestions_delete-icon, .mySuggestions_edit-icon {
            width:  20px;
            height: 20px;
            margin: -5px 10px;
        }
        .mySuggestions_delete, .mySuggestions_edit {
            display:         block;
            width:           100%;
            margin:          10px 0;
            cursor:          pointer;
            text-decoration: none;
            color:           #fff;
        }
        .card_img-hover {
            display:    block;

            width:      100%;
            height:     180px;
            position:   absolute;
            top:        0;
            background: rgba(255, 98, 91, 0.7);
            z-index:    888;

            color:      #fff;
        }
        .card_img-hoveri {
            display:   block;
            position:  absolute;
            top:       50%;
            left:      50%;
            transform: translate(-50%, -50%);
        }
    }
    .pagination {
        justify-content: center;
        margin-bottom:   100px;
    }
}

@include media('t-only'){
    .mySuggestions {
        .mySuggestions_name {
            min-width:450px;
            max-width:450px;
            h1{
                white-space: normal;
            }
        }
    }
}

@include media('m-only'){
    .mySuggestions {
        .mySuggestions_name {
            display: block !important;
            max-width: 260px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
            h1{
                white-space: normal;
            }
        }
    }
}