.newAdd {
    .newAdd_name {
        margin:      60px 0 30px 240px;
        white-space: nowrap;
        h1 {
            line-height: 10px;
        }
        h1:before {
            content:        '';
            display:        inline-block;
            vertical-align: middle;
            box-sizing:     border-box;
            width:          1000%;
            height:         2px;
            background:     $main-dark;
            border-width:   0 10px;
            margin-left: calc(-1000% - 20px );
            margin-right: 20px;
        }
    }
    .newAdd_wrapper {
        margin: auto;
        @include flex-align(center);
        flex-wrap: wrap;
        align-items: normal;
    }
    .newAdd_left {
        width:      540px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        margin:     0 20px 100px 20px;
        padding:    40px;
        .newAdd_left-name {
            width:  100%;
            height: 40px;
            margin: 15px 0 26px 0;
            color:       $main-dark;
            font-size: 12px;
        }
        .newAdd_left-message {
            width:       100%;
            height:      400px;
            margin:      15px 0 26px 0;
            padding:     20px;
            background:  $gray-1;
            font-family: $gotham;
            color:       $main-dark;
            font-size: 12px;
            line-height: 22px;
            resize:      none;
            outline:     none;
            border:      none;
        }
        .newAdd_left-ph {
            width: 100%;

        }
        .newAdd_left-photo {
            width:     100%;
            @include flex-align(space-between);
            flex-wrap: wrap;
        }

        .newAdd_left-file {
            position:   relative;
            height:     100px;
            width:      100px;
            margin:     10px 0;
            @include flex-align(center);
            text-align: center;
        }
        .newAdd_left-img{
            position: absolute;
            width: 100%;
            height: 100%;
            background: $gray-1;
            z-index: 1;
        }
        .newAdd_left-mainphoto{
            z-index: 2;
        }
        .Add_left-checkphoto{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.2;
        }
        .newAdd_left-fileb {
            top:      0;
            position: absolute;
            width:    100px;
            height:   100px;
            opacity:  0;
            z-index:  1000;
        }
    }
    .newAdd_right{
        margin: 0 20px;
    }
    .newAdd_specifications {
        width:      540px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        margin:     0 0 40px 0;
        padding:    20px 40px 40px 40px;
        @include flex-align(space-between);
        flex-wrap:  wrap;

        h4 {
            margin-top: 16px;
        }
        .newAdd_specifications-blselect {
            position:   relative;
            width:      160px;
            margin-top: 15px;
        }
        .newAdd_specifications-bg {
            position:         absolute;
            left:             0;
            width:            100%;
            height:           100%;
            background-color: $gray-1;
            z-index:          0;
        }
        .newAdd_specifications-block {
            position:         absolute;
            right:            0;
            height:           40px;
            width:            40px;
            background-color: $gray-1;
            z-index:          1;
            .bitcoin{
                height: 14px;
                .cls-1{
                    fill: $main-dark;
                }
            }
        }
        .newAdd_specifications-select {
            padding-right:      25px;
            width:              100%;
            height:             40px;
            outline:            none;
            padding-left:       19px;
            font-size:          12px;
            background:         none;
            z-index:            2;
            position:           relative;
            border:             none;
            -webkit-appearance: none;
        }
        .newAdd_specifications-select:after {
            content: "";
        }

        .down_arrow {
            width:       12px;
            height:      6px;

            position:    absolute;
            top:         50%;
            left:        50%;
            transform:   translate(-50%, -50%);
            line-height: 7px;
        }

        .newAdd_specifications-price {
            width: 110px;
        }
        .newAdd_specifications-2 {
            width: 220px;
        }
        .newAdd_specifications-3 {
            width: 140px;
        }
    }
    .facilities {
        margin: 0;
    }
    .newAdd_right-button {
        height: 50px;
        margin: 83px 0 0 0;
        float:  right;
    }
}

@include media ('t-only') {
    .newAdd {
        .newAdd_wrapper {
            width: auto;
        }
    }
}
@include media ('m-only') {
    .newAdd {
        .newAdd_wrapper{
            width: auto;
        }
        .newAdd_name{
            margin: 50px 0 10px 20%
        }
        .newAdd_left {
            width:      100%;
            margin:     0;
            box-shadow: none;
            .newAdd_left-ph {
                overflow-x: scroll;
            }
            .newAdd_left-photo {
                width: 940px;
            }
        }

        .newAdd_right {
            margin: 0;
            padding: 20px;
        }
        .newAdd_specification {
            width: 100%;
        }
        .newAdd_specifications {
            width:      100%;
            padding:    0;
            box-shadow: none;
            .newAdd_specifications-blselect, .newAdd_specifications-select {
                width: 100%;
            }
            .newAdd_specifications-3, .newAdd_specification-3 {
                width: 130px;
            }
        }
        .facilities {
            width:        100%;
            padding:      20px;
            box-shadow:   none;
            margin-right: 21px;
        }
        .newAdd_right-button {
            width:      100%;
            margin: 35px 0 60px 0;
            text-align: center;
        }
    }
}
