.personalData {
    .personalData_name {
        min-width: 900px;
        margin: 60px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;
        h1 {
            line-height: 30px;
            position:relative;
        }
        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }
    .personalData_wrapper {
        width:     100%;
        @include flex-align(center);
        flex-wrap: wrap;

        .personalData_block {
            width:      780px;
            padding: 40px 40px 40px 50px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }

        .personalData_blocks {
            @include flex-align(space-between);
            flex-wrap: wrap;
        }
        .personalData_inputs {
            width: 330px;
        }
        .personalData_iname {
            margin: 6px 0 15px;
        }
        .personalData_input {
            width:         100%;
            height:        50px;
            margin-bottom: 20px;
        }
        .personalData_button {
            height:     50px;
            float:      right;
            margin-top: 20px;
        }


    }
}
@include media('t-only') {
    .personalData {
        .personalData_name{
            min-width:450px;
            max-width:450px;
        }
        .personalData_wrapper {
            .personalData_block {
                padding: 40px 50px;
             }
            .personalData_inputs {
                margin: auto;
            }
        }
    }
}

@include media('m-only') {
    .personalData {
        .personalData_name {
            display: block !important;
            max-width: 260px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            transform: none;
            min-width: 260px;
        }
        .personalData_wrapper {
            .personalData_block {
                width:      100%;
                box-shadow: none;
                padding: 0 20px;
            }
            .personalData_inputs {
                width: 100%;
                margin: auto;
            }
            .personalData_button {
                width: 100%;
                text-align:center;
                margin: 50px auto;
            }
        }
    }
}
