.preheader {
    .preheader_wrap {
        min-width: 960px !important;
        margin: 0 0 0 calc(50% + 80px);
        transform: translateX(-50%);
        display: inline-block;
    }

    @include media('t-only') {
        .preheader_wrap {
            margin: auto !important;
            padding-left: 20px;
            transform: none !important;
            min-width: 0 !important;
        }
    }
    @include media('m-only') {
        .preheader_wrap {
            margin: auto !important;
            padding-left: 20px;
            transform: none !important;
            min-width: 0 !important;
            max-width: 100%;
        }
    }
}

.mainfeatures {
    .mainfeatures_name {
        min-width: 900px;
        margin: 50px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;

        h1:before {
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .mainfeatures_characteristics {
        min-width: 960px;
        margin: 50px calc(50% + 80px);
        transform: translateX(-50%);
        display: flex;
        @include flex-align(space-between);
    }

    .mainfeatures_characteristic-icon {
        width: 50px;
        height: 50px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin: auto;
    }

    .mainfeatures_characteristic-iconinner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        @include flex-align(center);
    }

    .mainfeatures_characteristic-plan {
        width: 20px;
        height: 20px;
    }

    .mainfeatures_characteristic-housesize {
        width: 24px;
        height: 24px;
    }

    .mainfeatures_characteristic-square {
        width: 26px;
        height: 17px;
    }

    .mainfeatures_characteristic-kitchen {
        width: 23px;
        height: 23px;
    }

    .mainfeatures_characteristic-building {
        width: 30px;
        height: 27px;
    }

    .mainfeatures_characteristic-entrance {
        width: 21px;
        height: 31px;
    }

    .mainfeatures_characteristic-text {
        margin-top: 10px;
        text-align: center;
    }

    .mainfeatures_territory {
        height: 40px;
        width: 100%;
        padding: 9px 0 0 0;
        background-color: $gray-10;
    }

    .mainfeatures_territory-1 {
        min-width: 960px;
        margin: 0 calc(50% + 80px);
        transform: translateX(-50%);
        @include flex-align(space-between);
    }

    .mainfeatures_realtors {
        min-width: 960px;
        margin: 40px calc(50% + 80px);
        transform: translateX(-50%);

        a {
            color: $gray-11;
        }
    }

    .mainfeatures_realtors-wrap {
        @include flex-align(space-between);
    }

    .mainfeatures_price {
        @include flex-align(center);
    }

    .card_price {
        margin: 0 22px;
        font-family: "Playfair Display Black";
        font-size: 26px;
        color: #ff625b;

        .bitcoin {
            width: 17px;

            .cls-1 {
                fill: #ff625b;
            }
        }
    }

    @include media('t-only') {
        .mainfeatures_name {
            display: block !important;
            min-width: 386px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            max-width: 0;
            transform: none;
        }
        .mainfeatures_characteristics {
            margin: 50px auto;
            width: 100%;
            flex-wrap: wrap;
            transform: none;
            min-width: 0;
        }
        .mainfeatures_characteristic {
            width: 33%;
            margin: 15px 0;
        }

        .mainfeatures_realtors {
            min-width: 0;
            transform: none;
            margin: 40px auto;
        }
        .mainfeatures_realtors-wrap {
            margin: 0 20px !important;
        }
        .mainfeatures_territory {
            padding: 9px 80px;
        }
        .mainfeatures_territory-1 {
            min-width: 0;
            margin: auto;
            transform: none;
        }
        .card_price {
            margin: 0 50px;
        }
    }
    @include media('m-only') {
        .mainfeatures_name {
            display: block !important;
            min-width: 260px;
            margin: 40px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            max-width: 0;
            transform: none;
        }
        .mainfeatures_characteristics {
            margin: 50px 0;
            width: 100%;
            flex-wrap: wrap;
            transform: none;
            min-width: 0;
        }
        .mainfeatures_characteristic {
            width: 50%;
            margin: 15px 0;
        }
        .mainfeatures_territory {
            height: auto;
            padding: 5px 40px;
            flex-wrap: wrap;
            text-align: center;

            .mainfeatures_territory-1 {
                * {
                    width: 100%;
                    padding: 15px;
                }
            }
        }
        .mainfeatures_territory-1 {
            min-width: 0;
            margin: auto;
            transform: none;
            flex-wrap: wrap;
        }

        .mainfeatures_realtors {
            min-width: 0;
            transform: none;
            margin: 40px auto;

            .mainfeatures_realtors-wrap {
                margin: 0 !important;
                flex-wrap: wrap;
            }

            .mainfeatures_price {
                width: 100%;
                margin: 20px;
                justify-content: space-between;
            }

            .mainfeatures_realtor {
                width: 100%;
                margin: 20px;
            }

            .card_price {
                margin: 0;
            }
        }
    }
}

.aboutflat {
    width: 960px;
    margin: 0 calc(50% + 80px);
    transform: translateX(-50%);
    @include flex-align(space-between);
    align-items: normal;

    .aboutflat_block-l {
        width: 380px;
        margin-right: 40px;

        .aboutflat_name {
            white-space: nowrap;

            h1:before {
                content: "";
                width: 1000px;
                margin-left: -1020px;
                height: 2px;
                background: #000;
                display: block;
            }
        }

        p {
            margin-top: 40px;
        }

    }

    .aboutflat_block-r {
        width: 540px;

        .aboutflat_blockr-img {
            position: relative;
            display: inline-block;
            width: 540px;
            overflow: hidden;
        }

        .facilities {
            margin: 40px 0 0 0;
        }

        .aboutflat_slidewrapper {
            position: relative;
            display: inline-flex;
            transition: 1s;
            transition-timing-function: cubic-bezier(.67, .01, .23, 1);

            li {
                list-style-type: none;
                float: left;
            }
        }

        .aboutflat_slidewrapper {
            img {
                object-fit: cover;
                width: 100%;
                height: 320px;
            }
        }

        .aboutflat_nav-btns {
            position: absolute;
            width: 100%;
            bottom: 15px;
            padding: 0;
            margin: 0;
            text-align: center;

            .slide-nav-btn {
                position: relative;
                display: inline-block;
                list-style: none;
                width: 14px;
                height: 14px;
                border: 2px solid rgba(255, 255, 255, 0.5);
                //   background-color: #fff;
                border-radius: 50%;
                margin: 3px;
            }

            .active {
                background: #fff;
            }

            .slide-nav-btn:hover {
                cursor: pointer;
            }
        }

        .facilities_icon {
            svg {
                width: 22px;
                max-height: 20px;
            }
        }
    }
}

.comments {
    max-width: 1280px;
    margin: auto;

    .comments_name {
        min-width: 900px;
        margin: 90px calc(50% + 50px) 62px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;

        h1:before {
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .comments_feedback {
        min-width: 960px;
        margin: 0 calc(50% + 80px) 30px calc(50% + 80px);
        transform: translateX(-50%);
        padding: 30px 40px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        .comments_feedback-about {
            @include flex-align(space-between);
            align-items: baseline;
        }

        .comments_realtor-name {
            color: $accent-1;
        }
    }

    .comments_new-name {
        margin-top: 76px;
        color: $accent-1;
    }

    .comments_textarea {
        min-width: 960px;
        margin: 0 calc(50% + 80px);
        transform: translateX(-50%);
    }

    .comments_new-feedback {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 20px;
        padding: 19px;
        resize: none;
        outline: none;
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: $main-dark;;
    }

    .comments_new-feeddata {
        min-width: 960px;
        margin: 0 calc(50% + 80px);
        transform: translateX(-50%);
        @include flex-align(space-between);
    }

    .comments_new-feedname, .comments_new-feedmail {
        width: 340px;
        height: 40px;
        background: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin: 0 0 20px 0;
        color: $gray-5;
    }

    input[placeholder] {
        color: $gray-5;
    }

    .comments_new-button {
        margin-bottom: 20px;
        padding: 13px 69px;
    }
}

@include media('t-only') {
    p {
        margin: 0 !important;
    }
    .aboutflat {
        width: 100%;
        margin: auto !important;
        transform: none;
        flex-wrap: wrap;
        justify-content: space-around;

        .aboutflat_block-l {
            margin: auto;


        }

        .aboutflat_block-r {
            margin: auto;
        }
    }
    .comments {
        .comments_name {
            min-width: 0;
            max-width: 213px;
            margin: 50px auto;
            transform: none;
        }

        .comments_feedback, .comments_textarea {
            margin: 20px auto;
            transform: none;
            min-width: 0;
        }

        .comments_new-name {
            margin: 46px 0 16px;
        }

        .comments_new-feedback {
            margin: 0;
        }

        margin-left: 80px;
        margin-right: 80px;

        .comments_new-feeddata {
            flex-wrap: wrap;
            margin: auto;
            transform: none;
            min-width: 0;

            * {
                margin: 10px auto;
            }
        }
    }
}

@include media('m-only') {
    .aboutflat {
        width: 100%;
        margin: auto !important;
        transform: none;
        flex-wrap: wrap;
        justify-content: space-around;

        .aboutflat_block-l {
            margin: auto;

            .aboutflat_name {
                display: block !important;
                min-width: 260px;
                margin: 40px auto 30px auto;
                padding: 0 40px 0 10px;
                white-space: nowrap;
                max-width: 0;
                transform: none;
            }

            p {
                margin: 0 20px 30px 40px;
            }
        }

        .aboutflat_block-r {
            margin: auto;

            .facilities {
                justify-content: space-around;
            }

            .aboutflat_blockr-img {
                width: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }
    .comments {
        margin: 20px;

        .comments_name {
            display: block !important;
            min-width: 260px;
            margin: 60px auto 30px auto;
            padding: 0 40px 0 10px;
            white-space: nowrap;
            max-width: 0;
            transform: none;

            h1 {
                position: relative;
                line-height: 30px;
            }

            h1:before {
                position: absolute;
                top: 13px;
            }
        }

        .comments_feedback {
            flex-wrap: wrap;
            padding: 16px 20px 20px 20px;
        }

        .comments_new-feeddata {
            min-width: 0;
            margin: 0 auto;
            transform: none;
            flex-wrap: wrap;

            * {
                width: 100%;
            }
        }

        .comments_new-button {
            text-align: center;
        }

        .comments_feedback, .comments_textarea {
            margin: 20px auto;
            transform: none;
            min-width: 0;
        }

        .comments_date {
            margin: 20px 0 17px 0;
        }

        .comments_feedback-about {
            flex-wrap: wrap;
        }

        .comments_new-name {
            margin: 46px 0 16px;
        }

        .comments_new-feedback {
            margin: 0;
        }
    }
}
