.search {
    .search_name {
        min-width: 900px;
        margin: 40px calc(50% + 50px) 50px calc(50% + 50px);
        transform: translateX(-50%);
        white-space: nowrap;

        h1 {
            line-height: 30px;
            position: relative;
        }

        h1:before {
            position: absolute;
            top: 13px;
            content: "";
            width: 1000px;
            margin-left: -1020px;
            height: 2px;
            background: #000;
            display: block;
        }
    }

    .search_block {
        display: block;
        width: 1120px;
        margin: auto auto 30px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);

        .search_block-1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 40px;

            .search_keyword {
                width: 330px;
                height: 40px;
                font-size: 14px;
            }

            .search_label {
                margin: 46px 0 16px;
                line-height: normal;
            }

            .search_keyword-blselect {
                position: relative;
            }

            .search_keyword-bg {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #f9f9f9;
                z-index: 0;
            }

            .search_keyword-block {
                position: absolute;
                right: 0;
                height: 40px;
                width: 40px;
                background-color: #f9f9f9;
                z-index: 1;
            }

            .search_keyword-select {
                padding-right: 25px;
                width: 100%;
                height: 40px;
                outline: none;
                padding-left: 19px;
                font-size: 12px;
                background: none;
                z-index: 2;
                position: relative;
                border: none;
                -webkit-appearance: none;
            }

            .down_arrow {
                width: 12px;
                height: 6px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                line-height: 7px;
            }
        }

        .search_block-2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 40px;

            .search_label {
                margin: 25px 0 16px;
            }
        }

        .search_block-b {
            display: flex;
        }

        .search_block2-label {
            display: inline-block;
            width: 40px;
            padding: 9px 0 9px 20px;
            background-color: $gray-1;
        }

        .search_block2-input {
            display: inline-block;
            width: 110px;
            height: 40px;
            padding-left: 0;
        }

        .search_blocks2 {
            * {
                float: left;
            }
        }

        .search_blocks2-2 {
            margin-left: 30px;
        }

        .search_button {
            width: 100%;
            text-align: center;
            margin-top: 60px;
            font-family: $gotham-b;
            text-transform: uppercase;
            height: 60px;
        }
    }

    .search_cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        max-width: 1180px;
        margin: auto;
    }

    .card {
        margin: 25px;
    }

    .pagination {
        justify-content: center;
        margin-bottom: 100px;
    }
}

@include media('t-only') {
    .search {
        .search_name {
            min-width: 400px;
        }

        .search_block {
            width: 390px;
            padding: 0 30px 30px;
            margin: auto;
        }

        .search_block-1 {
            justify-content: center;
            margin: 0 !important;;
            width: 100%;
        }

        .search_block-2 {
            justify-content: center;
            margin: 0 !important;
            width: 100%;
        }

        .search_form {
            width: 100%;
        }

        .search_button {
            margin-top: 40px;
        }
    }

}

@include media('m-only') {
    .search {
        .search_name {
            min-width: 280px;
            margin: 40px 50% 50px 50%;
            h1 {
                white-space: normal;
            }
        }

        .search_block {
            width: 280px !important;
            box-shadow: none !important;
            margin: auto;

            .search_block-1 {
                justify-content: center;
                margin: 0 !important;
                width: 100%;

                .search_keyword {
                    width: 280px !important;
                }
            }

            .search_block-2 {
                justify-content: center;
                margin: 0 !important;
                width: 100%;
            }

            .search_blocks2-2 {
                margin-left: 20px;
            }

            .search_block2-input {
                width: 75px;
            }

            .search_form {
                width: 100%;
            }

            .search_button {
                margin-top: 40px;
            }
        }
    }

}
