.card {
    height: 400px;
    width:      340px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    position:   relative;

    .card_img {
        display: block;
        text-decoration: none;
        height: 180px;
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }
    .card_content {
        display: block;
        padding: 20px 20px 60px;
        text-decoration: none;
        color:$main-dark;
        min-height: 220px;
    }
    a:hover{
        color:$main-dark;
    }
    .card_title {
        @include letter-spacing(16px, 50);
        margin-bottom: 10px;
    }

    .card_footer {
        position:         absolute;
        bottom:           0;
        width:            100%;
        background-color: $gray-3;
        text-decoration: none;
        @include flex-align($jc: space-between);
    }

    .card_price {
        flex-grow:  1;
        text-align: center;
        font-size:  16px;
        color:      $gray-6;
        p{
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    .card_button:hover {
        @include btn-hover-card();
    }
    .card_description {
        max-height: 95px;
        overflow:   hidden;
        font-size: 12px;
    }

    @include media('m-only') {
        height: 420px;
        width: 100%;
        margin: 10px 20px !important;
        .card_content{
            padding: 20px 20px 100px;
        }
        .card_description {
            @include paragraph(11px);
        }
    }
}

.card:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}
.card:active{
}
.card_price {

    flex-grow:  1;
    text-align: center;
    font-size:  16px;
    color:      $gray-6;
    p{
        display: inline-flex;
        align-items: center;
        justify-content: center;

    }
}
