.deletead {
    display:    none;
    width:      100%;
    height:     100vh;

    position:   fixed;
    top:        0;
    left:       0;

    z-index:    999;

    background: $main-white;
    text-align: center;
    * {
        display: block;
    }
    .close_icon {
        position: absolute;
        top:      36px;
        right:    36px;
        width:    40px;
        height:   40px;
        cursor:   pointer;
    }

    .deletead_block {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translate(-50%, -50%);
    }
    .deletead_form {
        max-width:  500px;
        padding:    40px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .deletead_form-buttons {
        @include flex-align(center);
        flex-wrap: wrap;
    }
    button {
        text-align: center;
        width:      200px;
        height:     50px;
    }
    button:nth-child(2n - 1) {
        margin-right: 10px;
    }
    button:nth-child(2n) {
        margin-left: 10px;
    }
    h1 {
        text-transform: none;
        margin-bottom:  27px;
    }
    p {
        margin-bottom: 30px;
        padding:       0 37px;
    }
    button:nth-child(2n - 1) {
        background: $gray-5;
    }
}

@include media('t-only') {
    .deletead {
        button {
            margin: 5px !important;
        }
    }
}

@include media('m-only') {
    .deletead {
        .close_icon {
            top:   15px;
            right: 15px;
        }
        .deletead_form {
            padding:    20px;
            box-shadow: none
        }
        button {
            margin: 10px 0 !important;
        }
        h1 {
            white-space:   nowrap;
            margin-bottom: 0;
        }
        p {
            padding: 0;
        }
    }
}
