.facilities {
    margin-left: 20px;
    max-width:   540px;
    padding:     40px 16px 16px 40px;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16);
    .facilities_list {
        @include flex-align(space-between);
        flex-wrap:  wrap;
        margin-top: 20px;
    }
    .facilities_item {
        @include flex-align(space-between, flex-start);
        margin-right:  24px;
        margin-bottom: 24px;
        svg{
            width: 20px;
            margin-right: 10px;
        }
    }
    .facilities_icon {
        margin-right: 8px;
    }
}

.facilities.mod_with-icons {
    padding:     10px 16px 15px 22px;

    .facilities_item {
        margin-bottom: 13px;
    }
}
