.footer {
    display: block;
    position: relative;
    bottom: 0;

    width: 100%;

    .footer_top {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 80px;
        background-color: $gray-2;
        color: $main-dark;
        font-family: $playfair-b;
    }

    .footer_bottom-el {
        display: flex;
        height: 16px;
        font-size: 14px;
        cursor: pointer;
        align-items: center;

        a {
            font-size: 12px;
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: center;

        height: 40px;

        background-color: $main-dark;
        color: $main-white;
        font-family: $gotham;
        font-size: 14px;
    }

    .footer_bottom-el:nth-child(1), .footer_bottom-el:nth-child(3) {
        font-size: 12px !important;
    }

    .footer_bottom-wrapper {
        width: 1120px;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: $main-white;
            text-decoration: none;
        }
    }

    .pagination_arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        color: #fff;
        margin-right: 10px;
    }

    .footer_top {
        height: 80px;
        flex-wrap: nowrap;
        padding: 0;
        margin-top: 70px;
    }

    .footer_top-el {
        width: auto;
        margin: 0 29px;
        font-size: 14px;
        cursor: pointer;
    }

    .footer_bottom {
        // height:    80px;
        flex-wrap: nowrap;
    }
}

.footer_mobile {
    display: none;

    .footer_top {
        height: 180px;
        width: 100%;
    }

    .footer_bottom {
        height: 180px;
        width: 100%;
    }

    .footer_top {
        padding: 25px;
        height: 180px;
        flex-wrap: wrap;
    }

    .footer_top-el {
        text-align: center;
        width: 100%;
    }


    .footer_bottom {
        padding: 20px;
        height: 180px;
        flex-wrap: wrap;
    }

    .footer_bottom-el {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33%;
    }
    .footer_bottom-el:nth-child(1) {
        font-size: 14px !important;
    }

    @include media('m') {
        .footer_top {
            width: 100%;
        }
        .footer_bottom {
            width: 100%;
        }
    }

    @include media('t') {
        .footer_top {
            width: 320px;
        }
        .footer_bottom {
            width: 320px;
        }
    }
}

@include media('t') {
    .footer {
        .footer_top-el:hover {
            box-shadow: inset 0 0 white, inset 0 -0.1em #000;
        }

        .footer_bottom-el span:hover {
            box-shadow: inset 0 0 white, inset 0 -0.1em white;
        }
    }
}

@include media('t-only') {
    .footer {
        .footer_bottom-wrapper {
            width: 730px;
        }

        .footer_bottom-el {
            margin: 0 20px;
        }
    }
}

@include media('m-only') {
    .footer {
        display: none;
    }
    .footer_mobile {
        display: block;

        .footer_bottom {
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
