.logo {
    cursor: pointer;
    text-decoration: none;

    margin-bottom: 2px;

    p {
        margin-top: 8px;
        font-family: $gotham-b;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 0;
        text-transform: uppercase;
        color: #5c503e;
    }
}

.header {
    @include paragraph(13px, $main-white);

    .header_top {
        background-color: $main-dark;
        padding: 0 20px;
    }

    .nav {
        @include flex-align(space-between);
        max-width: 1120px;
        margin: 0 auto;
    }

    .nav_list {
        @include flex-align();
        list-style-type: none;
    }

    .nav_list.mod_right {
        font-size: 12px;
        letter-spacing: 0;
    }

    .nav_item {
        margin-right: 40px;

        a {
            font: inherit;
            text-decoration: none;
            color: $main-white;
            cursor: pointer;
        }
    }

    .nav_item:last-of-type {
        margin-right: 0;
    }

    .bucket {
        @include flex-align();
        /*&:before {
            content:      '';
            display:      block;
            height:       12px;
            width:        12px;
            margin-right: 10px;
            background:   url('./../../svg/bucket.svg') center/cover no-repeat;
        }*/
        a {
            height: 41px;
            @include flex-align(center, center);
        }

        .bucket-logo {
            width: 12px;
            margin-right: 10px;
        }
    }

    .nav-bottom {
        padding: 12px 0;
        height: 80px;

        p {
            height: 6px;
        }
    }

    .button {
        @include btn(220px, 40px);
        border-radius: 2px;
    }

    .search {
        position: relative;
        flex-grow: 1;
        margin: 0 77px 0 75px;
        display: none;
        visibility: hidden;

        @include media('>768px') {
            display: block;
            visibility: visible;
        }
    }

    .search_input {
        height: 40px;
        width: 100%;
        border: 2px solid $gray-4;
        background: $main-white;
    }

    .search_input::-webkit-input-placeholder, .search_input:-moz-placeholder, .search_input::-moz-placeholder, .search_input::placeholder {
        color: #fff; //$gray-5;
    }

    .search_input:focus {
        @include input($h: 40px, $w: 100%);
    }

    .search_submit {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        border: none;
        background: url('./../../svg/search.svg') center no-repeat;
        background-size: 15px 15px;
        cursor: pointer;
    }

    .user {
        height: 41px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @include media('t') {
        .login_link:hover, .user_reg:hover, .category_link:hover, .header-user_name .user_link:hover, .bucket span:hover {
            box-shadow: inset 0 0 white, inset 0 -0.1em white;
        }
    }
    @include media('t-only') {
        .nav-bottom {
            padding: 12px 20px;
        }
    }

    @include media('m-only') {
        position: fixed;
        transition: transform .4s ease-out;
        transform: translateX(-100%);
        top: 0;
        width: 100%;
        height: 100vh;
        background: $main-dark;
        font-size: 16px;
        z-index: 11;
        > * {
            padding: 0;
            margin: 0;
        }
        .nav, .nav_list {
            flex-direction: column;
        }
        .nav_item {
            margin: 0 0 40px;
        }

        .mod_right {
            padding: 53px 0 16px;
        }
        .user {
            margin-bottom: 0;

            height: auto;
            display: block;
        }
        .bucket, .logo, .search {
            visibility: hidden;
            display: none;
        }
        .header_top {
            position: relative;
        }
        .header_inner {
            margin-top: 50vh;
            transform: translateY(-50%);
        }
    }
}

.header.mod_opened {
    transform: translateX(0);
    z-index: 10;
}

.pblock {
    display: block !important;
}
