.login {
    display: none;
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    background: $main-white;
    text-align: center;

    * {
        display: block;
    }

    .close_icon {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .login_block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .login_form {
        padding: 40px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

        ::-webkit-input-placeholder {
            color: $gray-7;
        }

        :-moz-placeholder {
            color: $gray-7;
        }

        ::-moz-placeholder {
            color: $gray-7;
        }

        :-ms-input-placeholder {
            color: $gray-7;
        }
    }

    .login_register {
        margin-bottom: 23px;
        color: $gray-5;
    }

    input {
        @include input();
        padding: 18px 0 18px 20px;
    }

    input:nth-child(2n) {
        margin-top: 20px;
    }

    .login_password-recovery {
        text-align: right;
        margin: 3px 5px 15px;
        font-size: 11px;
        color: $gray-7;
    }

    button {
        text-align: center;
        width: 100%;
        height: 50px;
    }
}

@include media('m-only') {
    .login {
        .close_icon {
            top: 20px;
            right: 20px;
        }

        .login_form {
            padding: 20px;
            box-shadow: none
        }

        .login_register {
            margin-bottom: 10px;
        }

        input {
            width: 280px;
            height: 50px;
            padding: 17px 0 18px 20px;
        }

        button {
            height: 50px;
        }
    }
}
