.nav-mobile {
    @include flex-align(space-between, center);
    visibility:       hidden;
    display:          none;
    width:            100%;
    position:         fixed;
    z-index:          10;
    top:              0;
    background-color: #fff;
    padding:          10px 20px 20px;
    .logo {
        visibility: visible;
        display:    block;
    }
}

@include media('m-only') {
    .nav-mobile {
        display:    flex;
        visibility: visible;
        z-index:    10;
    }

    .menu-button {
        position:    fixed;
        top:         0;
        right:       8px;
        margin-left: auto;
        cursor:      pointer;
        z-index:     11;
        margin-top:  15px;
        div {
            display:             block;
            height:              2px;
            width:               36px;
            margin:              12px;
            background-color:    $gray-6;
            transform-origin:    center;
            animation-fill-mode: forwards;
            transition:          background-color 1s;
        }
    }
}

.menu-button.mod_close {
    div {
        background-color: $main-white;
    }
    .center {
        animation: linear 0.5s center forwards;
    }
    .top {
        animation: linear 0.5s top forwards;
    }
    .bottom {
        animation: linear 0.5s bottom forwards;
    }
}

@keyframes center {
    50% {
        opacity:   0;
        transform: translateY(0);
    }
    100% {
        opacity:   0;
        transform: translateY(0);
    }
}

@keyframes top {
    50% {
        transform: translateY(13px);
        opacity:   1;
    }
    100% {
        opacity:   1;
        transform: translateY(13px) rotateZ(45deg);
    }
}

@keyframes bottom {
    50% {
        transform: translateY(-15px);
        opacity:   1;
    }
    100% {
        opacity:   1;
        transform: translateY(-15px) rotateZ(-45deg);
    }
}
