.pagination {
    margin-top:    30px;

    display:       flex;
    align-items:   center;
    margin-bottom: 10px;

    .pagination_el {
        display:         inline-flex;
        justify-content: center;
        align-items:     center;

        height:          30px;
        margin:          0 5px;

        text-align:      center;
        font-family:     $gotham;

        cursor:          pointer;
    }

    .pagination_page-first, .pagination_page-last {
        padding:          3px 10px;
        background-color: $gray-4;

        font-size:        18px;
        color:            $main-dark;
    }
    .pagination_page-this {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        padding:          3px 10px;
        background-color: $accent-1;
        color:            $main-white;
        font-size: 18px;
    }
    .pagination_page-left, .pagination_page-right {
        position:         relative;
        width:            30px;
        background-color: $gray-4;
    }

    .pagination_arrow {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translate(-50%, -50%);

        width:     7.7px;
        height:    12px
    }
}
