
.popup {
    display: none !important;

    a {
        font-size: 12px !important;
        letter-spacing: 0 !important;
        line-height: 0 !important;
        text-decoration: none !important;
        color: $gray-6;
    }

    a:hover svg, a:hover {
        fill: $accent-2 !important;
        color: $accent-2 !important;
        transition: ease-in-out;
    }

    position: absolute;
    margin: 0 0 0 -110px;
    top: 41px;
    width: 180px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

    .popup_name {
        display: none;
    }

    .popup_icon {
        margin-right: 10px;

        svg {
            height: 10px;
            fill: $gray-6;
        }
    }

    .popup_list {
        list-style-type: none;
        padding: 24px 20px 14px;
        background-color: #fff;
    }

    .popup_item {
        @include flex-align();
        margin-bottom: 17px;

        a {
            color: $gray-6;
        }

        .bucket-logo {
            .cls-1 {
                fill: $gray-6;
            }
        }
    }

    .popup_item-bucket {
        display: none;
    }

    .popup_footer {
        @include flex-align($ai: center);

        .popup_icon {
            margin-left: 10px;
        }

        a {
            color: $gray-6;
        }

        padding: 11px 20px;
        background: $gray-2;
    }

    .footer_mobile {
        display: none;
    }

    .popup_mheader {
        display: none;
    }
}

@include media('t') {
    .header-user_name:hover .popup,
    .popup:hover {
        display: block !important;
        z-index: 9999;
    }
}

@include media('m-only') {
    .popup {
        display: none;
        position: fixed;
        z-index: 9999;
        margin: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        font-size: 14px;

        .popup_mheader {
            display: block;
            height: 77.66px;
            z-index: 999;
        }

        .menu-button {
            * {
                background-color: #747474 !important;
            }
        }

        .popup_name {
            display: block;
            width: 100%;
            background: $main-white;
            padding-top: 10px;
            text-align: left;
            padding-left: 30px;
            font-weight: 600;
        }

        .popup_list {
            height: calc(100vh - 344px);

            padding: 20px 30px 50px;

            .popup_item {
                width: 100%;

                a {
                    font-size: 13px !important;
                }
            }

            .popup_item-bucket {
                display: block;
            }
        }

        .popup_footer {
            padding: 22px 30px;
        }

        .footer_mobile {
            position: absolute;
            bottom: 0;
            display: block;
        }
    }

    .header_user-m {
        display: block !important;
    }

    .header-user_name .popup {
        display: none !important;
    }
    .header-user_name:hover .popup {
        display: none !important;
    }
}
