.preheader {
    width: 100%;
    height: 40px;
    border: 1px solid $gray-9;
    @include flex-align();

    display: inline-flex;
    flex-wrap: wrap;

    a {
        color: $main-dark;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
    }

    .preheader_wrap {
        width: 960px;
        margin: auto;
    }

    .preheader_link-color {
        color: $gray-5;
    }
}

@include media('m-only') {
    .preheader {
        height: auto;
        margin-top: 77px;

        .preheader_wrap {
            padding-bottom: 10px;
        }
    }
}
