.recovery {
    display: none;
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    background: $main-white;
    text-align: center;

    * {
        display: block;
    }

    .close_icon {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .recovery_block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .recovery_form {
        padding: 40px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

        ::-webkit-input-placeholder {
            color: $gray-7;
        }

        :-moz-placeholder {
            color: $gray-7;
        }

        ::-moz-placeholder {
            color: $gray-7;
        }

        :-ms-input-placeholder {
            color: $gray-7;
        }
    }

    .recovery_register, .recovery_login {
        color: $gray-5;
    }

    .recovery_lore {
        display: inline-flex;
        margin-bottom: 23px;
        white-space: pre;
        color: $gray-8;
    }

    input {
        @include input();
        margin-bottom: 20px;
        padding: 18px 0 18px 20px;
    }

    button {
        text-align: center;
        width: 100%;
        height: 50px;
    }
}

@include media('m-only') {
    .recovery {
        h1{
            display: block;
            white-space: normal;
            padding: 0 20px;
            line-height: 30px;
            margin: 0;
        }
        .close_icon {
            top: 15px;
            right: 15px;
        }

        .recovery_form {
            padding: 20px;
            box-shadow: none
        }

        .recovery_register {
            margin-bottom: 10px;
        }

        input {
            width: 280px;
            height: 50px;
        }

        button {
            height: 50px;
        }
    }
}
