.table {
    max-width: 1280px;
    margin: auto;
    width:   100%;
    padding: 0 80px 30px 80px;

    .table_all {
        width: 100%;
    }
    .table_wrapper {
        width:      100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    .table_header {
        display: table-row;
    }
    .table_header-name {
        height:           60px;
        background-color: $gray-4;
        border-right:     2px solid $main-white;
        font-family:      $gotham;
        font-size:        14px;
        color:            $main-dark;
    }

    .table_header-name:nth-child(1) {
        border-left:  0;
        text-align:   left;
        padding-left: 40px;
    }

    .table_header-name:nth-last-child(1) {
        border-right: 0;
    }

    .table_main-text {
        position:     relative;
        height:       40px;
        border-right: 2px solid $gray-1;
        font-family:  $gotham;
        font-size:    12px;
        color:        $main-dark;
        a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
        }
        .bitcoin {
            height: 12px;
            .cls-1 {
                fill: $main-dark;
            }
        }
    }
    .table_main-text:nth-child(1) {
        border-left:  0;
        padding-left: 42px;
    }
    .table_main-text:nth-child(2), .table_main-text:nth-child(3) {
        text-align: center;
    }
    .table_main-text:nth-last-child(1) {
        text-align:   center;
        border-right: 0;
    }
    .table_main:nth-child(even) {
        background-color: $gray-1;
    }
    .table_main-bitcoin {
        height:      12px;
        margin-left: 5px;
        transform:   translateY(15%);
    }

    .table_main-delete {
        display: table-cell;
    }
    .table_main-mdelte {
        display: table-row;
        padding: 10px;
        .cls-1 {
            stroke: #c1c1c1;
        }
    }
}

@include media('m-only') {
    .table {
        padding: 0 20px 20px 20px;
        .table_main-text:nth-child(1) {
            display:     block;
            padding-top: 22px;
        }
        .table_main-text:nth-child(2) {
            display:        block;
            padding-left:   42px;
            padding-bottom: 22px;
            text-align:     left;
            .bitcoin{
                top:28%;
            }
        }
        .table_main-text {
            height: auto;
        }
        .table_main-delete {
            display: none;
        }
        .table_main-mdelte {
            display: table-cell;
            padding: 10px;
        }
        .close_icon {
            width:  30px;
            height: 30px;
        }
    }
}
