@font-face {
    font-family: "Gotham Pro";
    src: url('/../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf') format('truetype'),
    url('/../fonts/GothamPro/GothamProRegular/GothamProRegular.eof') format('embedded-opentype'),
                 url('/../fonts/GothamPro/GothamProRegular/GothamProRegular.woff') format('woff');
}


@font-face {
    font-family: "Gotham Pro Bold";
    src: url('/../fonts/GothamPro/GothamProBold/GothamProBold.ttf') format('truetype');
    src: url('/../fonts/GothamPro/GothamProBold/GothamProBold.eof') format('embedded-opentype'),
                 url('/../fonts/GothamPro/GothamProBold/GothamProBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Playfair Display";
    src: url('/../fonts/playfair-display/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Playfair Display Bold';
    src: url('/../fonts/playfair-display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Playfair Display Black';
    src: url('/../fonts/playfair-display/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: bold;
}
