@mixin btn($w:140px, $h:40px) {
    min-width:        $w;
    min-height:       $h;
    padding:          8px 23px;
    text-align:       left;
    background-color: $accent-1;
    color:            $main-white;
    font-family:      $gotham;
    font-size:        16px;
    border:           none;
    cursor:           pointer;
    transition:       all 0.3s;
    outline: none;

    &:hover {
        background-color: $accent-2;
        box-shadow:       0 3px 6px rgba(0, 0, 0, .3);
    }
}

@mixin btn-hover-card() {
    background-color: $accent-2;
    box-shadow:       none;
}
