@mixin label() {
    display:     flex;
    align-items: center;
    position:    relative;
    &:before {
        box-sizing:    border-box;
        display:       inline-block;
        content:       "";
        height:        16px;
        width:         16px;
        border:        1px solid #c4c4c4;
        border-radius: 2px;
        margin-right:  10px;
    }
}

@mixin checked() {
    &:after {
        content:  url("./../../svg/checked.svg");
        position: absolute;
    }
    &:before {
        border-color: $accent-1;
    }

}
