* {
    box-sizing: border-box;
    padding:    0;
    margin:     0;
}

body {
    @include paragraph();
}

a {
    @include link();
}

input {
    @include input();
}

input.mod_wrong {
    @include wrong();
}

.checkbox {
    margin-top: 10px;
}

input[type='checkbox'] {
    display: none;
}

label {
    @include label();
}

input:checked ~ label {
    @include checked();
}

button {
    @include btn();
}

h1 {
    @include heading(1);
}

h2 {
    @include heading(2);
}

h3 {
    @include heading(3);
}

h4 {
    @include heading(4);
}

.title-1 {
    @include title(1);
}

.title-2 {
    @include title(2);
}

.title-3 {
    @include title(3);
}

.title-4 {
    @include title(4);
}

.title-5 {
    @include title(5);
}

.main-paragraph {
    max-width: 561px;
    @include paragraph();
}

.list-marked li {
    @include list-marked();
}

.list-numerated {
    @include list-numerated();
}

.icon {
    fill:   $accent-1;
    height: 20px;
}