$h-fz-list: (1: 22px, 2:18px, 3:16px, 4:14px);
$h-lh-list: (1: 0, 2: 24px, 3: 20px, 4: 19px);
@mixin heading($level: 1) {
    @if ($level == 1) {
        text-transform: uppercase;
    }
    @include letter-spacing(map-get($h-fz-list, $level), 25);
    font-family: $playfair-b, sans-serif;
    font-size:   map-get($h-fz-list, $level);
    line-height: map-get($h-lh-list, $level);
    //@if($level == 1) {
    //    font-size: 22px;
    //    @include letter-spacing(22px, 25);
    //} @else if($level == 2) {
    //    font-size: 18px;
    //    @include letter-spacing(18px, 25);
    //} @else if($level == 3) {
    //    font-size: 16px;
    //    @include letter-spacing(16px, 25);
    //} @else if($level == 4) {
    //    font-size: 14px;
    //    @include letter-spacing(14px, 25);
    //}
}
