@mixin input($w: 300px, $h: 50px) {
    font-family: $gotham;
    font-size:   13px;
    width:       $w;
    height:      $h;
    padding:     15px 0 18px 20px;
    outline:     none;

    &::placeholder {
        font-family: $gotham;
        font-size:   11px;
    }
    background: $gray-1;
    border: none;
}

@mixin wrong() {
    border: 1px solid $accent-1;
}
