@mixin link() {
    @include letter-spacing(14px, 25);

    font-family: $gotham;
    font-size:   14px;
    line-height: 16px;
    color:       $gray-8;
    transition:  all .3s;

    &:hover {
        color: $accent-1;
    }
}
