@mixin list() {
    font-family: $gotham;
    font-size:   12px;
    list-style:  none;
    line-height: 30px;
}

@mixin list-marked() {
    @include list();
    @include letter-spacing(12px, 25);
    display:         flex;
    justify-content: flex-start;
    align-items:     flex-start;
    &:before {
        content:      "\25CF";
        font-size:    13px;
        margin-right: 14px;
        color:        $accent-1;
    }
}

@mixin list-numerated() {
    counter-reset: myCounter;
    li {
        @include list();
        counter-increment: myCounter;
        &:before {
            display:       inline-block;
            min-width:     20px;
            content:       counter(myCounter) ".";
            text-align:    right;
            padding-right: 5px;
            color:         $accent-1;
        }
    }
}