$fz-list: (1: 16px, 2: 14px, 3: 13px, 4: 12px, 5: 11px);
$lh-list: (1: 18px, 2: 22px, 3: 22px, 4: 22px, 5: 14px);

@mixin title($level:1, $color: $main-dark) {
    @include letter-spacing(map_get($fz-list, $level), 25);
    font-family: $gotham;
    line-height: map_get($lh-list, $level);
    font-size:   map_get($fz-list, $level);
}
